### START GOLDSRC COMPRESSION SETUP ###
# Add this to your .htaccess or your .conf webserver files
# If pre-compressed files does not exist,
# apache will fallback to standard file extensions!

<IfModule mod_rewrite.c>
# Enable rewrite engine
RewriteEngine on

# Make sure the browser supports gzip encoding before we send it
# without it, Content-Type will be "application/x-gzip"
# We use original gz extension, feel free to change if you want
# just don't forger to change in FilesMatch and ForceType directives
# as well renaming all files.
RewriteCond %{HTTP:Accept-Encoding} \b(x-)?gzip\b
RewriteCond %{REQUEST_FILENAME}.gz -s
RewriteRule ^(.+) $1.gz [L]
</IfModule>

# Do stuff if requested file extension is .gz
# Change it if you modified in RewriteCond
<FilesMatch .gz$>
	# Set gz mimetype. This is needed to avoid problems
	# with certain files such as txt files
	ForceType application/octet-stream

	<IfModule mod_headers.c>
	# REQUIRED! Send gzip response.
	# In other words: tell to the client that file is gzipped
	Header set Content-Encoding gzip
	</IfModule>
</FilesMatch>
### END GOLDSRC COMPRESSION SETUP ###